body {
    margin: 0;
}

#barrasup {
    background-color: white;
    height: 10vh;
    display: flex;
}

#main {
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#footer {
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.1);
}

#izq {
    width: 50vw;
   padding: 20px;
   display: flex;
   gap: 25px;
     
}

#der {
    width: 50vw;
    display: flex;
    justify-content: right;    
    align-items: center;
    gap: 20px;

}

#imagen {
    height: 35vh;    
}

#busqueda {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#links {
    height: 35vh;
    display: flex;
    justify-content: center;
    gap: 10px;

}

#micara {
    height: 40px;
    width: 90px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#bottom1 {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#bottom2 {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}

.bottom {
    display: flex;
    gap: 30px;    
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

#emision {
    justify-content: center;
}

